# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv('../output_data/cities.csv')
cities_df.head()

,Unnamed: 0,City,Lat,Lngs,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,Mataura,-46.1927,168.8643,78.85,46,15,4.16,1612671947
1,1,George Town,5.4112,100.3354,89.60,45,20,6.91,1612671772
2,2,Itarema,-2.9248,-39.9167,76.89,87,14,8.28,1612672184
3,3,Qaanaaq,77.4840,-69.3632,12.47,91,100,5.66,1612672039
4,4,Touros,-5.1989,-35.4608,75.20,88,20,3.44,1612672111

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [4]:
#Use the Lat and Lng as locations and Humidity as the weight.
coords = cities_df[['Lat','Lngs']]
humidities = cities_df['Humidity'].tolist()

In [5]:
fig = gmaps.figure()
heatmap = gmaps.heatmap_layer(coords,weights=humidities)
fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [28]:
ideal_df = cities_df[cities_df['Max Temp'] < 80]#,cities_df['Wind Speed'] < 10]#, cities_df['Cloudiness'] == 0]
ideal_df = ideal_df[ideal_df['Wind Speed'] < 5]
ideal_df = ideal_df[ideal_df['Cloudiness'] == 0]
ideal_df = ideal_df[ideal_df['Humidity'] < 50]
ideal_df = ideal_df.dropna()
ideal_df.head()

,Unnamed: 0,City,Lat,Lngs,Max Temp,Humidity,Cloudiness,Wind Speed,Date
192,192,Uthal,25.8072,66.6219,75.67,17,0,2.59,1612672510
218,218,Joshīmath,30.5667,79.5667,60.91,28,0,4.14,1612672580
421,421,Sarh,9.1429,18.3923,69.80,24,0,4.61,1612672605
468,468,Kashgar,39.4547,75.9797,39.20,38,0,2.24,1612672611
526,526,Herat Province,34.5000,62.0000,42.80,36,0,3.44,1612672618

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [47]:
hotel_df = ideal_df.copy()
hotel_df['Hotel Name'] = ''
hotel_df.head()

,Unnamed: 0,City,Lat,Lngs,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
192,192,Uthal,25.8072,66.6219,75.67,17,0,2.59,1612672510,
218,218,Joshīmath,30.5667,79.5667,60.91,28,0,4.14,1612672580,
421,421,Sarh,9.1429,18.3923,69.80,24,0,4.61,1612672605,
468,468,Kashgar,39.4547,75.9797,39.20,38,0,2.24,1612672611,
526,526,Herat Province,34.5000,62.0000,42.80,36,0,3.44,1612672618,

In [ ]:
params = {
    "location": '',
    "radius": 5000,
    "keyword": "hotel",
    "key": g_key
}
for i, row in hotel_df.iterrows():
    try:
        params['location'] = f'{hotel_df.at[i, "Lat"]}, {hotel_df.at[i,"Lngs"]}'
        res = requests.get(f'https://maps.googleapis.com/maps/api/place/nearbysearch/json',params=params).json()
        hotel_df.loc[i,'Hotel Name'] = res['results'][0]['name']
    except:
        print(f'A value for {hotel_df.at[i,"City"]} could not be found')
hotel_df

In [6]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure

In [7]:
fig

Figure(layout=FigureLayout(height='420px'))